
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-left h1{
  font-size: 1.8rem; /* Increase font size for the app name */
  font-weight: bold;
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* Set text color */
}


.navbar-right {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.navbar-right a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 30px;
  font-size: 1.2rem;
  transition: color 0.3s; /* Add transition effect */
}

.navbar-right button {
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s; /* Add transition effect */
}

/* Add hover effects for links and buttons */
.navbar-right a:hover,
.navbar-right button:hover {
  text-decoration: underline;
  color: #e67e22; /* Change the color on hover */
}

/* Media query to make the navbar responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-right {
    margin-top: 20px; /* Fix the typo in margin-top */
  }
}
